---
---
<footer
    class="mt-24 pt-8 border-t border-slate-200 dark:border-slate-800 text-slate-500 dark:text-slate-400 text-sm pb-12 transition-colors duration-300"
>
    <p>© 2026 KIWiki Project • Built by Pero Juric</p>
</footer>
